<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../style/index.css" />
		<title>KlaudOS</title>
	</head>
	<body>
		<div class="titleCard">
			<div class="h1">
				KlaudOS
			</div><br/>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p>The first Klaud based Operating System</p>
			<br/>
		</div>
		<div class="buttons" style="text-align:center;">
			<button type="button" onclick="window.location.href='/about';" class="button-1">About</button> 
			<button type="button" onclick="window.location.href='/install';" class="button-3">Install</button> 
			<button type="button" onclick="window.location.href='https://github.com/';" class="button-2">GitHub</button>
		</div>
	</body>
</html>