<!DOCTYPE html>
<html>
	<head>
		<title>KlaudOS</title>
		<link rel="stylesheet" href="../style/index.css" />
	</head>
	<body>
		<div class="titleCard">
			<div class="h1">
				About
			</div><br/>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p>The first Klaud based Operating System</p>
			<br/>
		</div>
		<div class="buttons" style="text-align:center;">
			<button type="button" onclick="window.location.href='/';" class="button-1">Home</button> 
			<button type="button" onclick="window.location.href='/install';" class="button-3">Install</button> 
			<button type="button" onclick="window.location.href='https://github.com/';" class="button-2">GitHub</button>
		</div>
		<div class="contents">
			<h2>About KlaudOS</h2>
			<p>
				KlaudOS is a meme operating system made from scratch (not a Linux distro or anything of that nature)
				that was completely made in C and x86 Assembly. It has a 2 stage boot loader and a CLI.
			</p>
			<h2>Who's Klaud and why does he have an operating system?</h2>
			<p>
				Klaud is a character in the sequel Star Wars films who stole the hearts of millions. He fought for the Resistance and was a talented mechanic.
				He has an operating system because Klaud deserves one as the greatest Star Wars character of all time.
			</p>
			<h2>Features</h2>
			<p>
				If you want an updated features list visit the ReadMe or run klaud --help in the terminal.
			</p>
			<h2>Credits</h2>
			<h4>coldmayo</h4>
			<p>Founder, Main Developer, Original Website Developer</p>
			<p>Unfortunately, I (coldmayo) was alone in this endeavour. I would love to add more people to this list, though!</p>
			<h2>Special Thanks</h2>
			<h4>Klaud</h4>
			<p>Without his specactular performance in Star Wars Episode 9 none of this would have been possible.</p>
			<h4>OSDev</h4>
			<p>Amazing resource, this project would have been impossible without it.</p>
			<h4>nanobyte</h4>
			<p>His Building an OS series YouTube series is why I started this. Without his tutorials I am not sure I would have been as successful as I was. </p>
			<h4>Imran Rahman</h4>
			<p>His video on web development in C helped make this website possible.</p>
		</div>
	</body>
</html>