<!DOCTYPE html>
<html>
	<head>
		<title>KlaudOS</title>
		<link rel="stylesheet" href="../style/index.css" />
	</head>
	<body>
		<div class="titleCard">
			<h1>About</h1>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p>The first Klaud based Operating System</p>
			<br/>
		</div>
		<div class="buttons" style="text-align:center;">
			<button type="button" onclick="window.location.href='/';" class="button-1">Home</button> 
			<button type="button" onclick="window.location.href='/install';" class="button-3">Install</button> 
			<button type="button" onclick="window.location.href='https://github.com/';" class="button-2">GitHub</button>
		</div>
		<div class="contents">
			<h2>About KlaudOS</h2>
			<p style="width: 700px;margin: auto;">
				KlaudOS is a meme operating system made from scratch (not a Linux distro or anything of that nature)
				that is completely made in C and x86 Assembly. It has a 2 stage boot loader and a interactive kernel.
			</p>
			<h2>Who's Klaud and why does he have an OS?</h2>
			<p style="width: 700px;margin: auto;">
				Klaud was a star character in Star Wars Episode 9. I remember the day I saw him in theaters and his character really stuck with me. Years later I was introduced to Operating System development and TempleOS which inspired me further. So, I decided I would give back to Klaud by creating this hobby operating system years later.
			</p>
			<h2>Features</h2>
			<p style="width: 700px;margin: auto;">
				If you want an updated features list visit the <a href="https://github.com/coldmayo/KlaudOS">ReadMe</a> or run klaud --help in the terminal.
			</p>
			<h2>Credits</h2>
			<h4>coldmayo</h4>
			<p style="width: 700px;margin: auto;">Founder, Main Developer, Original Website Developer</p>
			<p style="width: 700px;margin: auto;">Unfortunately, I (coldmayo) was alone in this endeavour. I would love to add more people to this list, though!</p>
			<h2>Special Thanks</h2>
			<h4>Klaud</h4>
			<p style="width: 700px;margin: auto;">Without his specactular performance in Star Wars Episode 9 none of this would have been possible.</p>
			<h4>OSDev</h4>
			<p style="width: 700px;margin: auto;">Amazing <a href="https://www.osdev.org/">resource</a>, this project would have been impossible without it.</p>
			<h4>nanobyte</h4>
			<p style="width: 700px;margin: auto;">His <a href="https://www.youtube.com/playlist?list=PLFjM7v6KGMpiH2G-kT781ByCNC_0pKpPN">Building an OS</a> series YouTube series is why I started this. Without his tutorials I am not sure I would have been as successful as I was. </p>
			<h4>Imran Rahman</h4>
			<p style="width: 700px;margin: auto;">His <a href="https://www.youtube.com/watch?v=cEH_ipqHbUw">video</a> on web development in C helped make this website possible.</p>
		</div>
	</body>
</html>