<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../style/index.css" />
		<title>KlaudOS</title>
	</head>
	<body>
		<div class="mainTitleCard">
			<h1 style="text-align: center;">KlaudOS</h1>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p style="text-align: center;">The first Klaud based Operating System</p>
			<br/>
			<div class="buttons" style="text-align:center;">
				<button type="button" onclick="window.location.href='/about';" class="button-1">About</button> 
				<button type="button" onclick="window.location.href='/install';" class="button-3">Install</button> 
				<button type="button" onclick="window.location.href='https://github.com/';" class="button-2">GitHub</button>
			</div>
		</div>
	</body>
</html>