<!DOCTYPE html>
<html>
	<head>
		<title>KlaudOS</title>
		<link rel="stylesheet" href="../style/index.css" />
	</head>
	<body>
		<div class="titleCard">
			<h1>Installation Page</h1>>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p>The first Klaud based Operating System</p>
			<br/>
		</div>
		<div class="buttons" style="text-align:center;">
			<button type="button" onclick="window.location.href='/';" class="button-1">Home</button> 
			<button type="button" onclick="window.location.href='/about';" class="button-3">About</button> 
			<button type="button" onclick="window.location.href='https://github.com/coldmayo/KlaudOS';" class="button-2">GitHub</button>
		</div>
		<div class="contents">
			<h2>Installation</h2>
			Before you do anything, make sure you have the below installed:<br/>
			make<br>
			gcc<br>
			nasm<br>
			qemu-system-x86<br>
			<h3>Download From Release</h3>
			Download disk image and sh file from release on github<br/>
			run: ./run.sh in the terminal<br/>
			<h3>Download From Source</h3>
			Clone repo: git clone https://github.com/coldmayo/KlaudOS<br/>
			Get into folder: cd KlaudOS<br/>
			Conjure disk image: make<br/>
			Run Operating System in QEMU: ./run.sh<br/>
		</div>
	</body>
</html>