<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../style/index.css" />
		<title>KlaudOS</title>
	</head>
	<body>
		<div class="titleCard">
			<h1>Installation Page</h1>
			<img src="https://i.imgur.com/1vOEujx.png">
			<p>The first Klaud based Operating System</p>
			<br/>
		</div>
		<div class="buttons" style="text-align:center;">
			<button type="button" onclick="window.location.href='/';" class="button-1">Home</button> 
			<button type="button" onclick="window.location.href='/about';" class="button-3">About</button> 
			<button type="button" onclick="window.location.href='https://github.com/coldmayo/KlaudOS';" class="button-2">GitHub</button>
		</div>
		<div class="contents">
			<h2>Installation</h2>
			Before you do anything, make sure you have the below installed:<br/>
			make<br>
			gcc<br>
			nasm<br>
			qemu-system-x86<br>
			<h3>Download From Release</h3>
			Download disk image and sh file from <a href="https://github.com/coldmayo/KlaudOS" target="_blank">release</a><br/><br/>
			Make executables:<br/>
			<code>chmod +x run.sh</code><br/><br/>
			Run Operating System in QEMU:<br/> 
			<code>./run.sh</code><br/>
			<h3>Download From Source (Linux)</h3>
			Clone <a href="https://github.com/coldmayo/KlaudOS" target="_blank">repository</a><br/><br/>
			cd into folder<br/><br/>
			Make executables:<br/>
			<code>chmod +x make.sh</code><br/>
			<code>chmod +x run.sh</code><br/><br/>
			Conjure disk image:<br/>
			<code>./make.sh</code><br/><br/>
			Run Operating System in QEMU:<br/> 
			<code>./run.sh</code><br/>
		</div>
	</body>
</html>